<mat-list>
  <mat-list-item role="listitem">Number of words: {{http.data.words.length}}</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item role="listitem">Number of arcs: {{http.data.arcs.length}}</mat-list-item>
  <mat-list-item role="listitem"></mat-list-item>
</mat-list>
