<mat-card class="card">
  <mat-card-header>
    <mat-card-title>SpaCy Demo</mat-card-title>
    <mat-card-subtitle>An App for SWT-P</mat-card-subtitle>
  </mat-card-header>
  <mat-divider></mat-divider>
  <app-text-input></app-text-input>
</mat-card>

<mat-card class="card" *ngIf="http.data">
  <app-display></app-display>
</mat-card>
