<form #form="ngForm" class="form">

  <mat-form-field appearance="fill">
    <mat-label>Language</mat-label>
    <mat-select
    [(ngModel)]="language"
    name="language"
    required>
      <mat-option value="de">Deutsch</mat-option>
      <mat-option value="en">English</mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.hasError('required')">
      language is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill"
      class="full-width">
        <mat-label>Please input text</mat-label>
        <textarea
        matInput
        [(ngModel)]="text"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        name="text"
        required
        maxlength="1000"
        ></textarea>
      <mat-hint align="end">{{text? text.length: 0}} / 1000</mat-hint>
      <mat-error *ngIf="formControl.hasError('required')">
        Text is required.
      </mat-error>
    </mat-form-field>

    <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    >Submit</button>

    <button type="reset" mat-raised-button color="warn">Reset</button>

</form>

<!-- <h3 *ngIf="language === ''" class="error">Please select a language</h3>
<h3 *ngIf="text === ''" class="error">Please input text</h3> -->
