<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Info">
    <app-info></app-info>
  </mat-tab>

  <mat-tab label="Words">
    <app-words-table></app-words-table>
  </mat-tab>

  <mat-tab label="ARCS">
    <app-arcs-table></app-arcs-table>
  </mat-tab>
</mat-tab-group>



